.home-wrapper {
  height: calc(100vh - 70);
  background: $blue;
  color: white;
}
.home-caption {
  padding: 30px;
  margin-top: 40px;
  img {
    width: 100%;
  }
}
.home-infos {
  margin-top: 60px;
}
.feature {
  display: flex;
  align-items: center;
}
.feature-image {
  flex: 0 0 20%;
  img {
    width: 100%;
  }
}
.feature-text {
  flex: 0 0 80%;
  padding: 20px;
  text-align: justify;
}
