<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-hidden col-md-6">
        <div class="home-caption">
          <%= image_tag 'code-editor.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="home-infos">
          <h1>Welcome to Craigsgist</h1>
          <%= link_to "Sign up", '#', class: "btn btn-success" %>
          <%= link_to "Sign in", '#', class: "btn btn-default" %>
          <%= %>
        </div>
      </div>
    </div>
  </div>
</div>
