<div class="container">
  <div class="row">
  <% @gists.each do |gist| %>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%= render 'gists/gist_card', gist: gist %>
    </div>
  <% end %>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(function(){
      var editor;

      $('.code').each( function(index) {
        editor = ace.edit(this);
        editor.setReadOnly(true);

        var language = $(this).prev().attr('class');
        console.log(language);

        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/" + language);

        editor.setOptions({
          maxLines: 5
        });
      });
    });
  <% end %>
<% end %>
