<h1 class="new-gist text-center">Upload a Gist!</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%= render 'form' %>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(function(){
      var textarea = $('textarea');
      var checkbox = $('.gist-privacy');
      textarea.hide();
      checkbox.hide();

      var editor = ace.edit("code");
      editor.setTheme("ace/theme/chrome");
      editor.getSession().setMode("ace/mode/javascript");



      editor.getSession().on('change', function(){
        textarea.val(editor.getSession().getValue());
      });

      textarea.val(editor.getSession().getValue());

      var select = $('#gist_language');
      select.change(function() {
        editor.getSession().setMode("ace/mode/" + select.val());
      });

      $('#private-check').click(function(e) {
        e.preventDefault()
        $('#public-check').removeClass("btn-primary");
        $('#private-check').addClass("btn-primary");
        $('#privacy-checkbox').attr("checked", false);
      });

      $('#public-check').click(function(e) {
        e.preventDefault()
        $('#public-check').addClass("btn-primary");
        $('#private-check').removeClass("btn-primary");
        $('#privacy-checkbox').attr("checked", true);
      });



    });
  <% end %>
<% end %>
