.comment {
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.comment-header {
  background: #EBEBEB;
  padding: 10px;
  h4 {
    margin: 0;
  }
}
.comment-content {
  padding: 10px;
}
