.gist-header {
  background: $gray-lighter;
  padding: 20px;
}
.gist-header-infos {
  display: inline-block;
}
.gist-header-actions {
  display: inline-block;
}
.gist-container {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}
.gist-code {
  width: 100%;
  height: 100px;
}
.gist-title {
  margin-top: 0;
}
.gist-description {
  font-style: italic;
  font-weight: lighter;
}
.new-gist {
  color: white;
  margin-bottom: 0;
}
.gist-card {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.gist-labels-container {
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  h3 {
    margin: 0;
    padding: 10px;
    background: #EBEBEB;
  }
  .form-group {
    margin-bottom: 0;
  }
  ul {
    padding: 10px;
  }
}
